.App {
  background-color: #282c34;
  min-height: 100vh;
  flex-direction: column;
  display: flex;
  padding: 20px;
}
.myForm{
  max-width: 1200px;
  align-self: center;
}
.ContentCanvas{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding-top: 20px;
}
.moldCanvas{
  background: #ffffff;
  padding: 0px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 16px;
}
.nav-tabs {
  border-bottom: 1px solid #dee2e6 !important;
}
.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
